.headerWrapper,
.headerGlobal,
.headerNav ul {
	display: flex;
}
.header {
	width: 100%;
	height: 120px;
	background: hsla(0,0%,100%,.97);
	padding-top: 20px;
	position: fixed;
	top: 0;
	z-index: 1030;
}
.headerWrapper {
	justify-content: space-between;
}
.headerWrapper {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1024px;
	padding-left: 10px;
	padding-right: 10px;
}
.headerGlobal {
	font-size: 16px;
	flex-direction: column;
}
.headerLogo {
	width: 210px;
	margin-top: 27px;
}
.headerNav {
	align-self: flex-end;
	margin-bottom: 4px;
}
.headerNav ul {
	list-style: none;
}
.headerNav li {
	margin-left: 32px;
}
.headerNav a {
	display: block;
	font-size: 18px;
	color: #53575a;
	padding-bottom: 32px;
}