$color_gray: #53575a;

@font-face {
	font-family: monumentGrotesk;
	src: url(../components/fonts/MonumentGrotesk-Regular.woff)
	format("woff"), url(../components/fonts/MonumentGrotesk-Regular.woff2)
	format("woff2");
	font-weight:400
}
@font-face {
	font-family: monumentGrotesk;
	src: url(../components/fonts/MonumentGrotesk-Italic.woff)
	format("woff"), url(../components/fonts/MonumentGrotesk-Italic.woff2)
	format("woff2");
	font-style:italic
}
@font-face {
	font-family: monumentGrotesk;
	src: url(../components/fonts/MonumentGrotesk-Bold.woff)
	format("woff"),url(../components/fonts/MonumentGrotesk-Bold.woff2)
	format("woff2");
	font-weight:700
}
@font-face { 
	font-family: monumentGrotesk;
	src: url(../components/fonts/MonumentGrotesk-BoldItalic.woff) 
	format("woff"),url(../components/fonts/MonumentGrotesk-BoldItalic.woff2)
	format("woff2");
	font-style:italic;
	font-weight:700
}
@font-face {
	font-family: monumentGrotesk;
	src: url(../components/fonts/MonumentGrotesk-Medium.woff)
	format("woff"),url(../components/fonts/MonumentGrotesk-Medium.woff2) 
	format("woff2");
	font-weight:500
}
@font-face {
	font-family: monumentGrotesk;
	src: url(../components/fonts/MonumentGrotesk-MediumItalic.woff) 
	format("woff"),url(../components/fonts/MonumentGrotesk-MediumItalic.woff2)
	format("woff2");
	font-weight:500;
	font-style:italic
}
body {
	font-family: monumentGrotesk,"sans-serif";
	color: $color_gray;
}

/*Flex*/
.flex {
  display: flex;
}
.flex-wrap {
	flex-wrap: wrap;
}
.inline-flex {
  display: inline-flex;
}
.jc-flex-start {
  justify-content: flex-start;
}
.jc-flex-center {
  justify-content: center;
}
.jc-flex-end {
  justify-content: flex-end;
}
.jc-flex-between {
  justify-content: space-between;
}
.ai-flex-start {
  align-items: flex-start;
}
.ai-flex-center {
  align-items: center;
}
.ai-flex-end {
  align-items: flex-end;
}

/* Text Align */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}